.card {
    width: 980px;
    background-color: var(--card-color);
    display: grid;
    gap: 3rem;
    align-items: center;
    grid-template-areas:
        "img informacoes texto";
    grid-template-columns: auto 1fr 50%;
    color: white;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 10px 10px 20px rgb(27, 26, 31);
}

.card__informacoes {
    grid-area: informacoes;
    display: grid;
    align-items: center;
    gap: 1rem;
    grid-template-areas:
        "titulo titulo"
        "nota fav";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
}

.card__img {
    grid-area: img;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 140px;
    width: 140px;
    border-radius: 100%;
    box-shadow: 10px 10px 20px rgb(27, 26, 31);
}

.card span {
    grid-area: titulo;
}

.card__titulo {
    font-size: 24px;
}

.card__nota {
    grid-area: nota;
}

.card__icone {
    margin-right: 10px;
}

.card__icone--star {
    color: yellow;
    margin-right: 10px;
}

.card__icone--heart {
    color: red;
    margin-right: 10px;
    cursor: pointer;
}

.card__nota img,
.card__favoritar img {
    height: 20px;
}

.card__favoritar {
    grid-area: fav;
}

.card p {
    grid-area: texto;
    line-height: 177%;
    color: var(--text-color);
}

.card__nota,
.card__favoritar {
    display: flex;
    align-items: center;
}

@media screen and (max-width:700px) {
    .card {
        grid-template-areas:
            "img informacoes"
            "texto texto";
        grid-template-columns: auto 1fr;
        padding: 1rem 2rem;
    }

    .card__favoritar span {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .card {
        width: 100%;
        border-radius: 0;
        gap: 1rem;
        padding: 2rem;
    }

    .card__informacoes {
        margin-left: 1rem;
    }
}